@model PracticalTest.Models.ViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Home" asp-action="SaveStudentCourse" method="post">
            <div class="form-group">
                <h4>Register Student:</h4>
                <div class="row">
                    <div class="col-md-6">
                        <label>Student Name:</label>
                        @*@Html.DropDownListFor(m => m.StudentId, new SelectList(Model.Students, "StudentId", "FirstName"), " -- Student Name -- ", new { @class = "form-control" })*@
                    </div>
                    <div class="col-md-6">
                        <label>Course:</label>
                        @*@Html.DropDownListFor(m => m.CourseId, new SelectList(Model.Courses, "CourseId", "CourseName")," -- Course Name -- ", new { @class = "form-control" })*@
                    </div>
                </div>
                <div>
                    <button id="submit" type="submit" class="btn">Add Course</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <form asp-controller="Home" asp-action="Index">
            <table id="studentDiv" class="table">
                <thead>
                    <tr>
                        <th>
                            First Name
                        </th>
                        <th>
                            Surname
                        </th>
                        <th>
                            Course Name
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ViewData)
                    {
                        <tr>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.Surname
                            </td>
                            <td>
                                @item.CourseName
                            </td>
                            <td>
                                @item.StartDate
                            </td>
                            <td>
                                @item.EndDate
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <button id="Submit" type="submit" class="btn btn-primary" onclick="myFunction()">View Data</button>
            </div>
        </form>
    </div>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("studentDiv");
        if (x.style.visibility === "hidden") {
            x.style.visibility = "visible";
        } else {
            x.style.visibility = "hidden";
        }
    }
</script>